# Global .dockerignore
**/models/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.venv/
**/venv/
**/.git/
**/.gitignore
**/.dockerignore
**/node_modules/
**/dist/
**/build/
**/uploads/
**/logs/
.env
.env.local
.vscode/
.idea/
